{% extends 'bases/student_header.html'%}
{% block content %}

<div class="page ">

    <div class="container page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index_student' %}">Home</a></li>
            <li class="breadcrumb-item active">Quiz Results</li>
        </ol>
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="card-title">Search</h4>
                        <p>Add search functionality to your tables with List.js. Please read the <a href="http://listjs.com/"
                                target="_blank">official plugin documentation</a> for a full list of options.</p>
                    </div>
                    <div class="col-lg-8">
        
                        <div class="table-responsive border-bottom" data-toggle="lists"
                            data-lists-values='["js-lists-values-employee-name"]'>
        
                            <div class="search-form search-form--light mb-3">
                                <input type="text" class="form-control search" placeholder="Search">
                                <button class="btn" type="button" role="button"><i class="material-icons">search</i></button>
                            </div>
        
                            <table class="table mb-0">
                                <thead>
                                    <tr>
        
                                        <th>Employee</th>
        
        
                                        <th style="width: 100px;">Active</th>
                                        <th style="width: 51px;">Earnings</th>
                                        <th style="width: 24px;"></th>
                                    </tr>
                                </thead>
                                <tbody class="list" id="search">
        
                                    <tr>
        
                                        <td>
        
                                            <span class="js-lists-values-employee-name">Kalum Atherton</span>
        
                                        </td>
        
        
                                        <td><small class="text-muted">3 days ago</small></td>
                                        <td>&dollar;12,402</td>
                                        <td><a href="#" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                                    </tr>
        
                                    <tr>
        
                                        <td>
        
                                            <span class="js-lists-values-employee-name">Helen Mcdaniel</span>
        
                                        </td>
        
        
                                        <td><small class="text-muted">2 days ago</small></td>
                                        <td>&dollar;48,108</td>
                                        <td><a href="#" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                                    </tr>
        
                                    <tr>
        
                                        <td>
        
                                            <span class="js-lists-values-employee-name">Karim Hicks</span>
        
                                        </td>
        
        
                                        <td><small class="text-muted">1 hour ago</small></td>
                                        <td>&dollar;11,802</td>
                                        <td><a href="#" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                                    </tr>
        
                                    <tr>
        
                                        <td>
        
                                            <span class="js-lists-values-employee-name">Clifford Burgess</span>
        
                                        </td>
        
        
                                        <td><small class="text-muted">2 hours ago</small></td>
                                        <td>&dollar;84,401</td>
                                        <td><a href="#" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                                    </tr>
        
                                </tbody>
                            </table>
                        </div>
        
        
                    </div>
                </div>
            </div>
    </div>

    <div class="container page__container">
        <div class="footer">
            Copyright &copy; 2016 - <a
                href="http://themeforest.net/item/learnplus-learning-management-application/15287372?ref=mosaicpro">Purchase
                LearnPlus</a>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="/static/assets/js/app.js"></script>

<!-- List.js -->
<script src="/static/assets/js/hljs.js"></script>
<script src="/static/assets/js/app-settings.js"></script>
<script src="/static/assets/vendor/list.min.js"></script>
<script src="/static/assets/js/list.js"></script>

<!-- Tables -->
<script src="/static/assets/js/toggle-check-all.js"></script>
<script src="/static/assets/js/check-selected-row.js"></script>

<!-- App JS -->

<!-- Highlight.js -->

<!-- App Settings (safe to remove) -->

    
{% endblock script %}
    