{% extends 'bases/header_instructor.html' %}



{% block style %}
    <!-- Vendor Dropzone CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/dropzone.min.css">
    <link rel="stylesheet" href="/static/assets/css/dropzone.css">
    <link rel="stylesheet" href="/static/assets/css/dropzone.rtl.css">
    <link rel="stylesheet" href="/static/assets/css/fancytree.css">
    <link rel="stylesheet" href="/static/assets/css/fancytree.rtl.css"> 
{% endblock style %}
    
{% block content %}

        <!-- Header Layout Content -->
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container" id="lesson-add">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                            <li class="breadcrumb-item active">Courses</li>
                        </ol>
                        <h1 class="h2">Add Lesson</h1>
                        <div v-if="isSuccess" class="alert alert-success" role="alert">
                            ${ message }
                        </div>
                        <div v-if="error" class="alert alert-danger" role="alert">
                            ${ message }
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-group row">
                                        <label for="avatar" class="col-sm-3 col-form-label form-label">Image</label>
                                        <div class="col-sm-9">
                                            <div class="media align-items-center">
                                                <!-- <div class="media-left">
                                                    <img src="/static/assets/images/vuejs.png" alt="" width="100" class="rounded">
                                                </div> -->
                                                <div class="media-body">
                                                    <div class="custom-file" style="width: auto;">
                                                        <input v-on:change="handleImageUploaded" type="file" id="avatar" class="custom-file-input" v-model="image" accept="image/*">
                                                        <label for="avatar" class="custom-file-label">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="avatar" class="col-sm-3 col-form-label form-label">fichier PDF</label>
                                        <div class="col-sm-9">
                                            <div class="media align-items-center">
                                                <!-- <div class="media-left">
                                                    <img src="/static/assets/images/vuejs.png" alt="" width="100" class="rounded">
                                                </div> -->
                                                <div class="media-body">
                                                    <div class="custom-file" style="width: auto;">
                                                        <input v-on:change="handlePdfUploaded" type="file" id="avatar" class="custom-file-input" v-model="pdf" accept="application/pdf">
                                                        <label for="avatar" class="custom-file-label">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title" class="col-md-3 col-form-label form-label">Title</label>
                                        <div class="col-md-6">
                                            <input id="title" type="text" class="form-control" placeholder="Write an awesome title" v-model="title">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Course</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                <option value="#">HTML</option>
                                                <option value="#">Angular JS</option>
                                                <option value="#" selected>Vue.js</option>
                                                <option value="#">CSS / LESS</option>
                                                <option value="#">Design / Concept</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label form-label">Video</label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="custom-file" style="width: auto;">
                                                            <input v-on:change="handleFileUploaded" type="file" id="avatar" class="custom-file-input" v-model="file" accept="video/*">
                                                            <label for="avatar" class="custom-file-label">Choose file</label>
                                                        </div>
                                                        <small class="form-text text-muted d-flex align-items-center">
                                                            <!-- <i class="material-icons font-size-16pt mr-1">ondemand_video</i> -->
                                                            <!-- <span class="icon-text">Paste Video</span> -->
                                                        </small>
                                                    </div>
                                                    <button v-if="!isregister"  v-on:click.prevent="lesson_add" type="button" class="btn btn-success btn-rounded">Enregistrer</button>
                                                    <button  href="#"   v-if="isregister" disabled v-on:click.prevent="courses_add" class="btn btn-success">SAVE</button>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Files</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form id="my-awesome-dropzone" action="#" class="dropzone"></form>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-toggle="tree">
                                            <ul >
                                                <li class="folder expanded">
                                                    lesson files
                                                    <ul>
                                                        <li>lesson-1-install.zip</li>
                                                        <li>lesson-1-steps.zip</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

    {% endblock content %}


    
    {% block script %}

<script src="/static/assets/js/axios.js"></script>

<!-- vue -->
<script src="/static/assets/js/vue.js"></script>

<script>
// Block Vue JS  
new Vue({
el: '#lesson-add',
data: {
    title: '',
    file : '',
    image:'',
    pdf:'',
   isregister: false,
   loader: false,
   isSuccess: false,
   error: false,
   base_url: window.location.protocol + "//" + window.location.host + "/",
},
delimiters: ["${", "}"],
mounted() { },
methods: {
    lesson_add: function () {
       if (!this.isregister) {
           this.error = false
           this.isSuccess = false
           this.isregister = true
           if (this.title == "" || this.file == "" || this.image == "" || this.pdf == "" ) {
               this.message = "Veuillez remplir correctement les champs";
               this.error = true
               this.isSuccess = false
               this.isregister = false;
           } else {
            //    permet d'imploder des fichiers
               let formData = new FormData();
               formData.append('file', this.file);
               formData.append('title', this.title);
               formData.append('image', this.matiere);
               formData.append('pdf', this.date_fin);
               axios.defaults.xsrfCookieName = 'csrftoken'
               axios.defaults.xsrfHeaderName = 'X-CSRFToken'
               axios.post(this.base_url + 'instructor/post_lesson',
                   formData,
                   {
                       headers: {
                           'Content-Type': 'multipart/form-data',
                       }
                   }).then(response => {
                   console.log(response)
                   this.isregister = false;
                   if (response.data.success) {
                       this.isSuccess = true
                       this.error = false
                       this.message = response.data.message
                       this.success = response.data.success
                       window.location.replace(this.base_url + 'instructor/lesson');
                   } else {
                       this.error = true
                       this.message = response.data.message
                       this.success = response.data.success
                       this.isSuccess = false
                   }
                   console.log("success variable" + this.isSuccess)
                   // console.log("success variable"+this.error)
               })
                   .catch((err) => {
                       this.isregister = false;
                       console.log(err);
                   })
           }
       }
   },
   handleImageUploaded() {
        this.file = this.$refs.file.files[0];
        console.log(this.file)
    },

   handlePdfUploaded() {
        this.file = this.$refs.file.files[0];
        console.log(this.file)
    },

   handleFileUploaded() {
        this.file = this.$refs.file.files[0];
        console.log(this.file)
    },
}
});
</script>
        <!-- Required by Calendar (fullcalendar) -->
        <script src="/static/assets/vendor/dropzone.min.js"></script>
        <script src="/static/assets/vendor/jquery.fancytree-all.min.js"></script>
        
        <!-- Init -->
        <script src="/static/assets/js/fancytree.js"></script>
    {% endblock script %}
        